name: 🚀 Nginx K8S Auto Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

# 전역 환경 변수 설정
env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  IMAGE_NAME: my-nginx # 이미지 이름 (자유롭게 지정 가능)
  K8S_NAMESPACE: default
  K8S_FILE_PATH: ./deployment-nginx.yaml # YAML 파일 경로

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: ⬇️ 코드 체크아웃
        uses: actions/checkout@v4

      # =======================================================
      # 1단계: Docker 이미지 빌드 및 푸시
      # =======================================================
      - name: ⚙️ Docker Buildx 환경 설정
        uses: docker/setup-buildx-action@v3

      - name: 🔑 Docker 레지스트리 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 🔨 Docker 이미지 빌드 및 푸시
        run: |
          docker build -t ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest .
          docker push ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          
      # =======================================================
      # 2단계: 쿠버네티스 접속 환경 설정
      # =======================================================
#      - name: 📥 kubectl 설치 및 설정
#        uses: azure/setup-kubectl@v4
#      
#      - name: 🔐 kubeconfig 파일 생성
#        run: |
#          # Secrets에 저장된 kubeconfig 내용을 파일로 생성
#          echo "${{ secrets.KUBE_CONFIG_DATA }}" > ${{ github.workspace }}/kubeconfig.yaml
#          # kubectl이 사용할 설정 파일 경로 지정
#          echo "KUBECONFIG=${{ github.workspace }}/kubeconfig.yaml" >> $GITHUB_ENV

      # =======================================================
      # 3단계: 배포 실행
      # =======================================================
#      - name: 🔄 배포 파일 이미지 태그 업데이트
#        run: |
#          # 1단계에서 생성된 이미지의 전체 태그 경로를 변수에 저장
#          IMAGE_TAG="${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}"
#          
#          # sed 명령을 사용하여 deployment.yaml 파일 내의 PLACEHOLDER_IMAGE_TAG 문자열을 실제 이미지 태그로 교체
#          sed -i "s|PLACEHOLDER_IMAGE_TAG|$IMAGE_TAG|g" ${{ env.K8S_FILE_PATH }}


      - name: ✅ 쿠버네티스에 배포 적용
        run: |
          # 변경된 deployment.yaml 파일을 클러스터에 적용
          kubectl apply -f deployment-nginx.yaml -n my-nginx
          