# Workflow의 이름
# Workflow : 하나의 yml 파일을 하나의 Workflow라고 부른다. 
name: Github Actions 실행시켜보기

# Event : 실행되는 시점을 설정
# main이라는 브랜치에 push 될 때 아래 Workflow를 실행
on:
  push:
    branches:
      - main

# 안에서 사용할 수 있는 환경변수 선언할 수 있다.
# on: 과 jobs: 사이에 선언해주면 된다.
env:
  NAME: kosa
  USERNAME: kosa
  USER_PASSWORD: ${{ secrets.USER_PASSWORD }}


# 하나의 Workflow는 1개 이상의 Job으로 구성된다. 
# 여러 Job은 기본적으로 병렬적으로 수행된다.
jobs: 
  # Job을 식별하기 위한 id
  My-Deploy-Job: # Github Actions를 실행시킬 서버 종류 선택
    runs-on: ubuntu-latest
    
    # Step : 특정 작업을 수행하는 가장 작은 단위
    # Job은 여러 Step들로 구성되어 있다.
    steps: 
      - name: Hello World 찍기 # Step에 이름 붙이는 기능
        run: echo "Hello World" # 실행시킬 명령어 작성
        
      - name: 여러 명령어 문장 작성하기
        run: |
          echo "Good"
          echo "Morning"

      - name: 작업폴더 목록 확인
        run: ls -la

      - name: 환경변수 모두 출력
        run: env

      - name: 환경변수 NAME 출력
        run: echo ${{ env.NAME }}

      - name: 환경변수 USERNAME 출력
        run: echo ${{ env.USERNAME }}

      - name: 환경변수 USER_PASSWORD 출력
        run: |
          echo ${{ env.USER_PASSWORD }}
          echo ${{ secrets.USER_PASSWORD }}

  My-Deploy-Job2: 
    needs: My-Deploy-Job
    name: 배포 작업
    runs-on: self-hosted
    
    steps: 
      - name: 배포 작업 1단계 파일 생성
        run: echo "Hello World" > output.txt